@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
}

body {
    background: #264653;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
}

.greetings>span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }

    10%,
    90% {
        color: #264653;
        text-shadow: none;
    }
}

.greetings>span:nth-child(2) {
    animation-delay: .2s;
}

.greetings>span:nth-child(3) {
    animation-delay: .4s;
}

.greetings>span:nth-child(4) {
    animation-delay: .6s;
}

.greetings>span:nth-child(5) {
    animation-delay: .8s;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fefefe;
}

.heart {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 65%;
    left: 35%;
    background: #264653;
    transform-origin: right bottom;
    transition: 1s;
    cursor: pointer;
}

.heart::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #264653;
    transition: 2s;
    transform-origin: right bottom;
}

.heart:hover {
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #ffafcc;
    box-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 15px #39c6d6;

}

.heart:hover::before {
    transform: rotate(-270deg) translateY(100px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #ffafcc;
    box-shadow: 0 0 50px #39c6d6, 0 0 15px #39c6d6;


    /* border: 4px solid black; */
}

::-webkit-scrollbar {
    display: none;
}